#map-container {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#map {
    height: 90vh;
    width: 93vh;
}

html, body {
margin: 0;
padding: 0;
}

.nav-wrapper { 
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(141, 105, 240) , rgb(94, 144, 243)); 
}

#attractions-card:hover {
    opacity: 75%;
}

#attractions-card {
    text-decoration: none;
    color: black;
}

.centerBtn {
    display: block;
    margin: auto;
}

#places {
    font-size: 15px;
    display: grid;
    grid-template-rows: repeat(10, min-content);
    grid-auto-flow: column;
    width: 100%;
    margin-bottom: 0;
}

#card-main {
    margin: 20px 10px 20px 10px;
}

#submit-button {
    margin-bottom: 20px;
    text-align: center;
}

#input-label {
    margin-top: 10px;
}

#past-search {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#card-title {
    font-size: 24px;
    font-weight: bold;
}

#past-search {
    justify-content: center;
}

#clear {
    margin-top: 5px;
}

.card-title-2 {
    color: red;
    font-weight: bolder;
    font-size: 26px;
}