#map {
height: 750px;
width: 450x;
margin: auto;
display: flex;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
}

.nav-wrapper { 
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(141, 105, 240) , rgb(94, 144, 243)); 
}

#attractions-card:hover {
    opacity: 75%;
}

#attractions-card {
    text-decoration: none;
    color: black;
}

.centerBtn {
    display: block;
    margin: auto;
}