#map-container {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#map {
    height: 90vh;
    width: 93vh;
}

html, body {
margin: 0;
padding: 0;
}

.nav-wrapper { 
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(141, 105, 240) , rgb(94, 144, 243)); 
}

#attractions-card:hover {
    opacity: 75%;
}

#attractions-card {
    text-decoration: none;
    color: black;
}

.centerBtn {
    display: block;
    margin: auto;
}

#places li:nth-of-type(1n+21) {
    display: none;
}

#places {
    font-size: 15px;
    display: grid;
    grid-template-rows: repeat(10, min-content);
    grid-auto-flow: column;
    width: 100%;
    margin-bottom: 0;
}